
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
    font-family: 'Ubuntu Mono', sans-serif;
}

header {
    padding: 10px 0 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

#main {
    margin: 45px auto;
    width: 960px;
}

#main h1 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0px 0px 2px #fff;
}

.clear {
    clear: both;
}

.demo {
    text-align: center;
}

.demo h4 {
    font-size: 1.3em;
    margin: 14px 0;
}

.demo h4 a {
    color: #c0c0c0;
    text-decoration: none;
}

.demo h4 a:hover {
    color: #444;
}

.goback {
    font-size: 11px;
    color: #c0c0c0;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 10px 0;
}

.footer p, .footer a {
    font-size: 11px;
    color: #c0c0c0;
    text-decoration: none;
}

.footer a:hover {
    color: #444;
}
