* { margin: 0; padding: 0; }

body { background: #f5f5f5; font-family: Arial, Verdana; }

#main { margin: 45px auto; width: 960px; }

#main h1 { font-size: 24px; text-align: center; margin-bottom: 20px; }

#gallery { margin: 0 auto; width: 417px; height: 380px; overflow: hidden; }

.clear { clear: both; }

.gall-content { background: #fff; position: relative; width: 418px; height: 270px; overflow: hidden; }
.gall-content img { width: 415px; border: 1px solid #9c9c9c; }

.gall-thumbnail { margin-top:5px; }
.gall-thumbnail .thumb { float: left; width: 100px; height: 100px; margin: 0 5px 0 0; cursor: pointer; }
.gall-thumbnail .thumb img { border: 1px solid #9c9c9c; width: 100px; }
.gall-thumbnail .last { margin: 0; }

.footer { text-align: center; padding: 10px 0; }
.footer p, .footer a { font-size: 11px; color: #c0c0c0; text-decoration: none; }
.footer a:hover { color: #444; }